<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zrk.test.demo.dao.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="zrk.test.demo.dao.empty.UserInfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="score" jdbcType="VARCHAR" property="score" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, password, phone, score
  </sql>
  <select id="selectByTaskOver" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id % #{taskOverId,jdbcType=INTEGER}=0
  </select>
  
</mapper>